*{
    margin: 0;
    scroll-behavior: smooth;

}
.page{
    width: 100vw;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#accueil{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    background-image: url("accueil.png");
    background-size: cover;
    background-position-x: center;
}
#accueil *{
    text-align: center;
    
}
#page1{
    background-color: antiquewhite;
}

#page2{
    background-image: url("page2.png");
    background-size: cover;
    background-position-x: center;
}

#page3{
    background-image: url("page3.png");
    background-size: cover;
    background-position-x: center;
}
#page4{
    background-image: url("page4.png");
    background-size: cover;
    background-position-x: center;

}
#page5{
    background-image: url("page5.png");
    background-size: cover;
    background-position-x: center;
}
#page6{
    background-image: url("cauteret.png");
    background-size: cover;
    background-position-x: center;

}